@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --font-inter:var(--font-inter);
  --font-montserrat:var(--font-montserrat);
  --font-poppins:var(--font-poppins);
  --color-secondary:#3dc08d;
}
.shadow-special {
  box-shadow: oklch(21% 0.034 264.665) 0 6px 64px 0;
  position: absolute;
  top: -4px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

